* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@font-face {
    font-display: swap;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    src: url('../assets/fonts/Manrope/static/Manrope-Regular.ttf') format('trueType'); 
}
/* manrope-600 - latin */
@font-face {
    font-display: swap;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    src: url('../assets/fonts/Manrope/static/Manrope-Bold.ttf') format('trueType'); 
}
/* manrope-800 - latin */
@font-face {
    font-display: swap;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 800;
    src: url('../assets/fonts/Manrope/static/Manrope-ExtraBold.ttf') format('trueType'); 
}

/*Space*/
@font-face {
    font-display: swap;
    font-family: 'Space';
    font-style: normal;
    font-weight: 400;
    src: url('../assets/fonts/Space_Grotesk/static/SpaceGrotesk-Regular.ttf') format('trueType'); 
}


@font-face {
    font-display: swap;
    font-family: 'Space';
    font-style: normal;
    font-weight: 600;
    src: url('../assets/fonts/Space_Grotesk/static/SpaceGrotesk-Bold.ttf') format('trueType'); 
}
